<div class="social-links">
    <a class="social-link social-link-github" href="https://github.com/malinushj" target="_blank">{{> "icons/github"}}</a>
    <a class="social-link social-link-twitter" href="https://twitter.com/Malinushj" target="_blank">{{> "icons/twitter"}}</a>
    <a class="social-link social-link-linkedin" href="https://www.linkedin.com/in/malinbranduse/" target="_blank">{{> "icons/linkedin"}}</a>
    <a class="social-link social-link-mail" href="mailto:malin.branduse@gmail.com">{{> "icons/mail"}}</a>
</div>